<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link>
</head>
<body>
  <div id="container">
    <h1>Carreiras em Python</h1>
    <img id="banner" src="{{url_for('static', filename='img/carreira.jpg')}}">
    <h2>Sobre o Site</h2>
    <p>Aqui você encontra vagas em Python</p>
    <h2>Vagas abertas</h2>
    <div class="button">
    <button>Entrar em Contato</button>
      
    </div>
  </div>
</body>
</html>